<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelRewardScanNumber</key>
	<integer>5</integer>
	<key>experienceMonsterScan</key>
	<integer>10</integer>
	<key>experienceMonsterEnrollment</key>
	<integer>20</integer>
	<key>experienceFightVictory</key>
	<integer>50</integer>
	<key>experienceFakeFightVictory</key>
	<integer>25</integer>
	<key>experienceFightDefeat</key>
	<integer>0</integer>
	<key>experienceFakeFightDefeat</key>
	<integer>0</integer>
	<key>experienceFightDropout</key>
	<integer>-20</integer>
	<key>experienceFakeFightDropout</key>
	<integer>-10</integer>
	<key>levelRewardCoinsNumber</key>
	<integer>10</integer>
	<key>rubiesFightCost</key>
	<integer>1</integer>
	<key>fightMonstersCount</key>
	<integer>3</integer>
	<key>maxMonstersCount</key>
	<integer>5</integer>
	<key>liveOpponentDelay</key>
	<integer>30</integer>
</dict>
</plist>
